body {
  background-image: url(https://gagadget.com/media/post_big/netflix-office-in-poland.jpg);
}
.h1 {
  color: rgb(216, 17, 27);
  margin: 80px;
  font-size: 50px;
}
#notification {
  font-size: 20px;
  margin-left: 50px;
  width: 300px;
  padding-bottom: 15px;
}
.type {
  margin-bottom: 20px;
}
#login {
  display: flex;
  margin-left: 50px;
  height: 30px;
  width: 300px;
  border-radius: 10px;
  padding: 16px 20px 0px;
  margin-bottom: 10px;
}

#password1 {
  display: flex;
  margin-left: 50px;
  height: 30px;
  width: 300px;
  border-radius: 10px;
  padding: 16px 20px 0px;
  margin-bottom: 10px;
}
#Reppassword {
  display: flex;
  margin-left: 50px;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  padding: 16px 20px 0px;
}

.login-btn {
  margin-left: 50px;
  height: 50px;
  width: 345px;
  border-radius: 10px;
  background-color: rgb(219, 31, 31);
}
.text {
  font-size: 20px;
  color: #fff;
}
.success {
  color: #3f9727;
}
.enterData {
  color: red;
}
.error {
  color: red;
}
.passwordsInputs {
  width: 300px;
  position: relative;
}

.eye1 {
  /* font-size: 24px; */
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: -75px;
  background-color: #fff;
}
.eye {
  width: 30px;
  height: 30px;
}
.eye2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: -75px;
  background-color: #fff;
}
